# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [2]:
# import libraries
import numpy as np
import pandas as pd
import re

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [62]:
# import data set from Ironhack's database

poke = pd.read_csv('C:/Users/denis/Desktop/Ironhack/ironhackLabs/module-1/Dataframe-Calculations/Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [4]:
# your code here
poke.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [25]:
# your code here

dfType1 = poke.dropna(axis=0, subset=['Type 1'])
Type1a = dfType1[['Type 1']].to_numpy()
dfType2 = poke.dropna(axis=0, subset=['Type 2'])
Type2a = dfType2[['Type 2']].to_numpy()
Type = np.concatenate([Type1a, Type2a])
print(Type)
# Type.size
np.unique(Type)

[['Grass']
 ['Grass']
 ['Grass']
 ...
 ['Ghost']
 ['Dark']
 ['Water']]

array(['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire',
       'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison',
       'Psychic', 'Rock', 'Steel', 'Water'], dtype=object)

In [39]:
# An Alternative way to find the unique values is to use sets
# a = set(poke['Type 1']) 
# b = set(poke['Type 2'])
# x = list(a.union(b))
# # [0:len(a.union(b))-1]
# x[1:]

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [64]:
# your code here
# s3.str.replace('^', '', case=False)

# Names = poke['Name']
# mega = Names.str.contains('Mega')
# # mega[:5]

# poke['Name'] = np.where(mega, 'Mega',
#                         Names.str.replace('Mega', ' '))
# poke['Name'] = map(func, poke['Name'])
def func(x): 
    if 'Mega' in x:
        x = x.split()
        x=x[1:]
        return 'Mega '+' '.join(x)
    else:
        return x
poke['Name'] = list(map(func, poke['Name']))
poke['Name'].head()


# pd.set_option('display.max_rows', None)
# poke['Name'].value_counts()
# test transformed data
# pokemon.head(10)

0        Bulbasaur
1          Ivysaur
2         Venusaur
3    Mega Venusaur
4       Charmander
Name: Name, dtype: object

In [57]:
x = 'dadMega dfsg X'
x = x.split()
x=x[1:]
'Mega '+' '.join(x)

'Mega dfsg X'

In [65]:
# mega = Names.str.contains('Mega')
# mega

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [68]:
# your code here
poke['AD Ratio'] = poke.apply(lambda row: row.Attack / row.Defense, axis=1)
poke.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,AD Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923
7,6,Mega CharizardX,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171
8,6,Mega CharizardY,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462

#### Identify the pokemon with the highest `A/D Ratio`.

In [71]:
# your code here
# poke['AD Ratio'].max(level='Name')
poke.loc[poke['AD Ratio'].idxmax()]

#                            386
Name          DeoxysAttack Forme
Type 1                   Psychic
Type 2                       NaN
Total                        600
HP                            50
Attack                       180
Defense                       20
Sp. Atk                      180
Sp. Def                       20
Speed                        150
Generation                     3
Legendary                   True
AD Ratio                       9
Name: 429, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [72]:
# your code here
poke.loc[poke['AD Ratio'].idxmin()]

#                   213
Name            Shuckle
Type 1              Bug
Type 2             Rock
Total               505
HP                   20
Attack               10
Defense             230
Sp. Atk              10
Sp. Def             230
Speed                 5
Generation            2
Legendary         False
AD Ratio      0.0434783
Name: 230, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [114]:
# your code here
# poke['Combo Type'] = poke.apply(lambda row: row.Attack / row.Defense, axis=1)
# poke['Combo Type'] = poke.apply(lambda row: row['Type 1'] if row['Type 2'] ==np.NaN else f"{row['Type 1']} - {row['Type 2']}", axis=1)
# poke ['Combo Type'] = poke['Type 1'].combine_first(poke['Type 2'])
poke ['Combo Type'] = poke['Type 1'].fillna('') + [' - '] + poke['Type 2'].fillna('')
poke['Combo Type'] = poke['Combo Type'].map(lambda x: x.rstrip(' - '))
# poke['Combo Type']  = poke.agg(lambda row: row['Type 2'] if row['Type 1'] ==np.NaN else f"{row['Type 1']} - {row['Type 2']}", axis=1)
poke.tail(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,AD Ratio,Combo Type
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False,0.857143,Flying - Dragon
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False,0.875000,Flying - Dragon
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True,1.378947,Fairy
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True,1.378947,Dark - Flying
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True,0.826446,Dragon - Ground
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667,Rock - Fairy
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545,Rock - Fairy
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333,Psychic - Ghost
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667,Psychic - Dark
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667,Fire - Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [124]:
# your code here
poke_sorted = poke.sort_values(by=['AD Ratio'], ascending=False).head(5)
poke_sorted

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,AD Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water - Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug - Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water - Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [128]:
# your code here

combo_agg = poke_sorted.groupby(['Combo Type'])['AD Ratio'].sum()
combo_agg

Combo Type
Bug - Poison    3.750
Psychic         9.000
Rock            3.125
Water - Dark    7.500
Name: AD Ratio, dtype: float64

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [130]:
# your code here

poke_sorted.groupby(['Combo Type'])['Total']['HP']['Attack']['Defense']['Sp. Atk']['Sp. Atk']['Speed']['Generation']['Legendary']['AD Ratio'].mean()

IndexError: Column(s) Total already selected